<h2 class="text-center mt-2"> Ювелирный Магазин <i class="fa-sharp fa-regular fa-gem"></i></h2>
<div class="d-flex h-100 text-center align-items-center justify-content-center">
    <a class="btn btn-dark btn-lg px-4 me-sm-3 mt-2"
       href="/">Изделия</a>
    <a class="btn btn-dark btn-lg px-4 me-sm-3 mt-2"
       href="/comm">Комитенты</a>
    <a class="btn btn-dark btn-lg px-4 me-sm-3 mt-2"
       href="/purchase">Журнал Сдачи</a>
    <a class="btn btn-dark btn-lg px-4 me-sm-3 mt-2"
       href="/sale">Журнал Покупки</a>
</div>